*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
  }

body{
    background: #0b0b0b;
}
tr{
    margin: 10px;
}
.howold{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0b0b0b;
    z-index: 10000000;
    text-align: center;
    display: grid;
    align-content: center;
    font-weight: 900;
    color: white;
    transition: 1s;
}
.howold h1{
    font-size: 180pt;
    margin-top: -120px;
    transition: 0.3s;
}
.howold h2{
    font-size: 30pt;
    margin-top: -50px;
}
.howold__logo{
    position: fixed;
    left: 20px;
    top: 15px;
    opacity: 0.2;
}
.howold__logo img{
    width: 400px;
}
.howold__yes, .howold__no{
    position: absolute;
    top: calc(50% + 120px);
    width: 150px;
    height: 50px;
    display:    grid;
    align-content: center;
    font-size: 25pt;
    cursor: pointer;
    transition: 0.3s;
}
.howold__yes{
    background: rgb(16, 133, 84);
    right: calc(50% - 200px);
}
.howold__yes:hover{
    background: rgb(12, 90, 58);
}
.howold__no{
    background: rgb(163, 163, 163);
    left: calc(50% - 200px);
}
.howold__st{
    display: block;
    opacity: 1;
}
.howold__noold{
    display: none;
    opacity: 0;
}

.menu{
    position: fixed;
    width: 50px;
    height: 40px;
    z-index: 120;
    top: 20px;
    left: auto;
    right: 30px;
    display: grid;
    justify-content: end;
    z-index: 99999;
}

.menu__img{
    width: 55px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 99999;
}


.menu__img:hover{
    transform: rotate(90deg)
}

.mleft{
    position: fixed;
    width: 33%;
    height: 100%;
    top:-100%;
    background: #0b0b0b;
    z-index: 102;
    transition: top 1s ease;
    /* visibility: hidden; */
}

.mleft--open {
    top: 0%;
    /* visibility: visible; */
}

.mcenter{
    position: fixed;
    width: 33%;
    left: 33%;
    height: 100%;
    top: 100%;
    background: #0b0b0b;
    z-index: 102;
    transition: top 1s ease;
    /* visibility: hidden; */
}

.mcenter--open {
    top: 0%;
    /* visibility: visible; */
}

.mright{
    position: fixed;
    width: 34%;
    left: 66%;
    height: 100%;
    top: -100%;
    background: #0b0b0b;
    z-index: 102;
    overflow: hidden;
    /* visibility: hidden; */
    transition: top 1s ease;
}

.mright--open {
    top: 0%;
    /* visibility: visible; */
}

.novigation{
    text-decoration: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* min-height: 720px; */
    z-index: 9999;
    opacity: 0;
    display: grid;
    visibility: hidden;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: opacity 1s ease, visibility 1s ease;
}

.novigation--open {
    opacity: 1;
    visibility: visible;
}

.novigation h1{
    font-size: 100pt;
    font-weight: 700;
    color:white;
    cursor: pointer;
    transition: 0.2s;
}
.novigation h1:hover{
    color:rgb(18, 105, 69);
}
.novigation__exit{
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 121;
    top: 20px;
    right: 30px;
    text-align: right;
}
.novigation__exit img{
    width: 55px;
    transition: 0.3s;
    cursor: pointer;
}
.novigation__exit img:hover{
    transform: rotate(90deg)
}
.bg{
    position: fixed;
    background: url("../img/back.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.logo{
    position: fixed;
    left: 20px;
    top: 15px;
    z-index: 20;
}
.logo img{
    width: 400px;
    cursor: pointer;
}
.content{
    position: absolute;
    width: 700px;
    height: calc(100% - 145px);
    /* left: 20px; */
    top: 145px;
}
.article{
    overflow: hidden;
    left: 20px;
    position: relative;
    width: 700px;
    height: 270px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 1px 1px 3px black;
    transition: 1s;
    z-index: 101;
}
.article__header{
    position: relative;
    margin-left: 10px;
    color: black;
    font-size: 34pt;
    font-weight: 900;
    cursor: pointer;
    float: left;
    z-index: 10;
}
.article__mark{
    position: relative;
    left: 10px;
    float: left;
}
.mark__bad{
    opacity: 0.4;
}
.article__mark img{
    width: 167px;
}
.article__plusminus{
    margin-top: -10px;
    position: relative;
    margin-left: 10px;
    color: black;
    font-size: 16pt;
    font-weight: 300;
}
.article__img{
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    transition: 1s;
}
.article__img img{
    width: 284px;
}
.article__about{
    position: relative;
    width: 650px;
    display: none;
    opacity: 0;
    margin-left: 10px;
    color: black;
    font-size: 16pt;
    font-weight: 300;
    transition: 1s;
}
.article__about h1{
    position: relative;
    color: black;
    font-size: 34pt;
    font-weight: 900;
}
.article__buy{
    position: relative;
    width: 350px;
    height: 70px;
    background: rgb(16, 133, 84);
    color: white;
    text-align: center;
    box-shadow: 1px 1px 2px black;
    font-size: 20pt;
    left: 10px;
    display: none;
    opacity: 0;
    align-content: center;
    margin-top: 20px;
    transition: 1s;
    cursor: pointer;
}
.article__buy:hover{
    box-shadow: 0px 0px 0px white;
    background: rgb(18, 105, 69);
}
.article__map{
    position: absolute;
    left: auto;
    right: 10px;
    top: 290px;
    display:none; 
    transition: 0.5s;
    /* display: none; */
    opacity: 0;
}
.article__exit{
    position: relative;
    color: rgb(43, 43, 43);
    font-size: 34pt;
    font-weight: 300;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    left: 10px;
    z-index: 9;
}














.admin-content{
    padding-top:10px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    /* left: 20px; */
    top: 160px;
    background: white;
    font-size: 15pt;
    z-index: 100;
}
.add-article{
    position: absolute;
    width: 270px;
    height: 60px;
    background: rgb(16, 133, 84);
    color: white;
    text-align: center;
    box-shadow: 1px 1px 2px black;
    font-size: 17pt;
    left: 20px;
    display: grid;
    align-content: center;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.add-article:hover{

    background: rgb(18, 105, 69);
}
.data{
    margin-left: 20px;
    margin-top: 100px;
}
.add-form{
    margin-left: 20px;
    margin-top: 20px;
}
.big-form{
    width: 350px;
    height: 160px;
}
.td-form{
    width: 300px;
    margin-left: 20px;
}












.recomendation{
    position: fixed;
    width: 660px;
    height: 100%;
    right: 30px;
    /* background: #0b0b0b; */
    /* padding-top: calc(50% - 135px); */
}
.recom-adaptive{
    left: 0px;
}
.recomendation__header{
    position: absolute;
    margin-left: 30px;
    margin-top: calc(50% - 30px);
    color: white;
    font-weight: 900;
    font-size: 20pt;

}
.article-recom{
    opacity: 0.8;
    width: 600px;
    margin-left: 30px;
    margin-top: calc(50% + 5px);
    transition: 0.3s;
    z-index: 1;
    height: 270px;
    background-color: #0b0b0b;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}
.article-recom__img{
    position: absolute;
    width: 600px;
    height: 270px;
    z-index: 1;
}
.article-recom__header{
    position: absolute;
    margin-left: 10px;
    margin-top: 210px;
    color: black;
    font-size: 34pt;
    font-weight: 900;
    color: white;
    z-index: 2;
}
.article-recom:hover{
    opacity: 1;
}
.recomendation-all{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../img/youhoobg3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #0b0b0b;
    display: none;
    opacity: 0;
    transition: 0.5s;
    z-index: 101;
}
.recomendation-all__header{
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50pt;
    font-weight: 900;
    top: 250px;
}
.recomendation-all__mark{
    position: absolute;
    left: calc(50% - 100px);
    top: 330px;
    z-index: 201;
}
.recomendation-all__mark img{
    width: 200px;
    filter: invert(100%);
}
.recomendation-all__about{
    margin-top: 400px;
    position: relative;
    width: 650px;
    margin-left: 10px;
    color: white;
    font-size: 16pt;
    font-weight: 300;
    transition: 1s;
}
.recomendation-all__about h1{
    position: relative;
    color: white;
    font-size: 34pt;
    font-weight: 900;
}
.recomendation-all__buy{
    position: relative;
    width: 350px;
    height: 70px;
    background: rgb(16, 133, 84);
    color: white;
    text-align: center;
    box-shadow: 1px 1px 2px black;
    font-size: 20pt;
    left: 10px;
    display: grid;
    align-content: center;
    margin-top: 20px;
    transition: 1s;
    cursor: pointer;
}
.recomendation-all__buy:hover{
    box-shadow: 0px 0px 0px white;
    background: rgb(18, 105, 69);
}
.recomendation-all__img{
    position: absolute;
    top: 400px;
    right: 30px;
    left: auto;
    opacity: 0.87;
}
.recomendation-all__img img{
    /* width: 450px; */
}

.contacts{
    position: fixed;
    width: 350px;
    height: 35px;
    top: calc(100% - 35px);
    left: calc(100% - 350px);
}
.contacts h3{
    font-size: 15pt;
    font-weight: 300;
    color: white;
    float: left;
    opacity: 0.7;
}
.contacts img{
    margin-top: -3px;
    margin-left: 7px;
    width: 30px;
    opacity: 0.7;
    transition: 0.3s;
}
.contacts img:hover{
    opacity: 1;
}
.locate-buttons{
    position: fixed;
    width: 300px;
    height: 40px;
    color: white;
    font-size: 16pt;
    float: left;
    left: auto;
    right: 100px;
    top: 78px;
    z-index: 99;
    border-radius: 0;
}
.locate-buttons__but{
    position: relative;
    width: 90px;
    height: 40px;
    display: grid;
    text-align: center;
    align-content: center;
    background: rgba(15, 15, 15, 0.829);
    opacity: 0.6;
    color: white;
    font-size: 15pt;
    float: right;
    margin-left: 5px;
    border: none;
    top: 0;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0px;
    border-radius: 0;
}
.locate-buttons__but:hover{
    opacity: 1;
}
/* AIzaSyDH5Ip6Sn7sYq5jriRtXy04UqZvQap81WA */



.about{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    display: none;
    opacity: 0;
    transition: 0.3s;
    z-index: 101;
    padding-top: 50px;
    color: white;
}
.about__back{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/back.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;

}
.about__logo{
    position: absolute;
    color: white;
    font-size: 58pt;
    font-weight: 900;
    margin: 20px;
}
.about__cont{
    position: absolute;
    display: grid;
    align-content: center;
    width: 770px;
    height: 400px;
    background: #ffffffde;
    color: #000000;
    text-align: center;
    z-index: 101;
    top: calc(50% - 200px);
}
.about__cont h1{
    font-size: 30pt;
    font-weight: 900;
}
.about__cont h2{
    font-size: 20pt;
    font-weight: 300;
}
.search{
    position: fixed;
    left: auto;
    right: 340px;
    top: 28px;
    z-index: 100;
    opacity: 0.7;
    transition: 0.2s;
    background: rgb(59, 59, 59);
}
.search:hover{
    opacity: 0.9;
}
.search_box{
    position: fixed;
    width: 240px;
    height: 40px;
    background: rgb(75, 75, 75);
    transition: 0.3s;
    border: none;
    left: auto;
    right: 100px;
    top: 29px;
    border-radius: 0;
}
.search_box:hover{
    background: rgb(184, 184, 184);
}
.search_button{
    position: fixed;
    width:  40px;
    height: 40px;
    background-image: url("../img/search.jpg");
    background-size: contain;
    border: none;
    left: auto;
    right: 340px;
    top: 29px;
    border-radius: 0;
}








